<form name="editForm" role="form" novalidate data-ng-submit="mode[current].btnValid.action()">
  <div class="modal-header">
    <h2 class="modal-title" id="myMarketPlaceLabel">{{mode[current].title}}</h2>
  </div>
  <div class="modal-body" style="display: flex">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <div class="well well-sm" style="display:flex;">
            <div class="col-md-8" data-ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
              <div class="form-group">
                <label class="control-label" for="field_name">Name</label><i style="color: red">*</i>
                <input type="text" class="form-control" name="name" id="field_name"
                       data-ng-model="marketPlace.name"
                       placeholder="ex. Summer party"
                       required/>
                <p data-ng-show="editForm.name.$invalid && !editForm.name.$pristine" class="help-block">A name is
                  needed.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="drop" data-ng-class="dropClass" style="display: inline-block;">
            <div class="col-md-5" style="padding-left: 0">
              <img class="img-responsive" src="{{marketPlace.image}}"/>
            </div>
            <div class="col-md-7">
              <div class="row">
            <span class="btn btn-default">Upload Image
                <input style="visibility: hidden; position: absolute;" max="1" type="file">
              </span>
                <b style="padding-left:5px">OR</b>
              </div>

              <div class="row">
                <label class="control-label" for="field_url">Url:</label>
                <input type="text" class="form-control" name="url" id="field_url"
                       data-ng-model="marketPlace.image"
                       placeholder="enter url image"
                       required/>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div data-flow-init data-flow-files-submitted="$flow.upload()"
             data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
             data-flow-files-added="limitFiles($files, 1)"
             data-flow-file-success="successLoad($file, $message, $flow)"
             data-flow-name="flow.content"
             class="ng-scope">

          <div class="drop" data-flow-drop data-ng-class="dropClass" style="display: inline-block;">
            <div class="col-md-5" style="padding-left: 0">
              <img class="img-responsive" src="http://www.jds.fr/medias/image/le-marchand-de-sable-12394-1200-630.jpg"/>
            </div>
            <span class="btn btn-default" data-flow-btn="">Upload Image
              <input style="visibility: hidden; position: absolute;" max="1" type="file">
            </span>
            <span class="btn btn-default ng-hide" data-flow-btn="" data-flow-directory=""
                  data-ng-show="$flow.supportDirectory">Upload Folder of Images
              <input style="visibility: hidden; position: absolute;" data-webkitdirectory="webkitdirectory"
                     type="file">
            </span>
            <b style="padding-left:5px">OR</b><br>
            <span style="padding-top: 5px">Drag And Drop your image here</span>
          </div>
        </div>
      </div>
      -->
      </div>

      <h2 style="padding-top:2%">Description<i style="color: red">*</i></h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               data-ng-class="{ 'has-error' : editForm.description.$invalid && !editForm.description.$pristine }">
            <label class="control-label" for="field_description"></label>
            <textarea class="form-control" name="description" id="field_description"
                      style="height: 150px; resize: vertical"
                      data-ng-model="marketPlace.description"
                      placeholder="description.."
                      required
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-ng-disabled="isBusy"
            data-ng-click="back()" data-ng-if="current == 0">
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Back</span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="isBusy"
            data-ng-click="mode[current].btnCancel.action()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>{{mode[current].btnCancel.title}}</span>
    </button>
    <button type="submit" formnovalidate data-ng-disabled="editForm.$invalid || isBusy" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>{{mode[current].btnValid.title}}</span>
    </button>
  </div>
</form>
