
<div class="row row-fix borders-grey">

  <div class="col-xs-12 col-sm-12 col-md-4 text-box text-box-homepage resp-block-border-grey"
       data-ng-if="!userCtrl.isConnected()">
    <h2 class="text-box-title">Welcome!</h2>
    <p>Sign in so you can benefit advantages right away!</p>
    <a href="#/login" class="btn btn-primary btn-block text-box-highlight">Sign in</a>
    <p class="text-box-bottom">
      <span>You don't have an account?</span>
      <a href="#/createAccount"><b>Join us!</b></a>
    </p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 text-box text-box-homepage resp-block-border-grey"
       data-ng-if="userCtrl.isConnected()">
    <h2 class="text-box-title">Welcome {{ userName }}!</h2>

    <div class="text-box-highlight">
      <a href="#/allProducts" class="btn btn-primary btn-block">Browse for products</a>
      <span>or</span>
      <a href="#/myMarketPlace" class="btn btn-primary btn-block">Start selling</a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 text-box text-box-homepage categories-showoff">

    <h2 class="categories-showoff-title">Popular categories</h2>

    <ul class="categories">

      <li class="category">
        <a href="" class="category-link">
          <img src="../images/games.png" alt="Games category" height="100" width="100"/>
          <span class="category-browse">Browse</span>
          <h3 class="category-title">Games</h3>
        </a>
      </li>

      <li class="category">
        <a href="" class="category-link">
          <img src="../images/books.png" alt="Books category" height="100" width="100"/>
          <span class="category-browse">Browse</span>
          <h3 class="category-title">Books</h3>
        </a>
      </li>

      <li class="category">
        <a href="" class="category-link">
          <img src="../images/clothes.png" alt="Clothes category" height="100" width="100"/>
          <span class="category-browse">Browse</span>
          <h3 class="category-title">Clothes</h3>
        </a>
      </li>

    </ul>

    <p class="text-box-bottom">
      <a href="#/allProducts"><b>Browse more categories →</b></a>
    </p>

  </div>

</div>
