<div>
  <br>

  <div class="form-group">
    <div class="col-md-2">
      <label class="sr-only" for="selectStates"></label>
      <select name="selectStates" id="selectStates" class="form-control"
              data-data-ng-options="state as state for state in states"
              data-data-ng-model="state"
              data-data-ng-change="parseUnparsedProducts()">
      </select>
    </div>
    <div class="col-md-2">
      <label class="sr-only" for="selectType"></label>
      <select name="selectType" id="selectType" class="form-control"
              data-data-ng-options="currentType as currentType for currentType in types"
              data-data-ng-model="type"
              data-data-ng-change="parseUnparsedProducts()">
      </select>
    </div>
    <div class="col-md-3">
      <div class="form-inline">
        <label for="name">Search: </label>
        <input type="text" name="path" id="name" class="form-control"
               value="" data-ng-model="searchStock">
      </div>
    </div>
  </div>
  <br>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
      <tr>
        <th>Status</th>
        <th>Stock</th>
        <th>Sill</th>
        <th>Product</th>
        <th class="col-md-5"></th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="product in products track by $index">
        <td>
          <div data-ng-if="isState(product, 0)" style="color:#01DF01">
            <span>Good</span>
          </div>
          <div data-ng-if="isState(product, 1)" style="color:#FE9A2E">
            <span>Warning</span>
          </div>
          <div data-ng-if="isState(product, 2)" style="color:#DF0101">
            <span>Alert</span>
          </div>
        </td>

        <td>{{product.stock}}</td>
        <td>{{product.sill}}</td>
        <td><a href="#/product/{{product.id}}"><span style="font-size: 110%;">{{product.name}}</span></a></td>

        <td>
          <div class="col-md-3">
            <label class="sr-only" for="selectQuantity"></label>
            <input class="form-control" type="number" name="quantity" min="0"
                   id="selectQuantity"
                   step="1"
                   value="0" data-ng-model="focusedQuantity"
                   data-ng-change="changeQuantity(focusedQuantity)">
          </div>
          <button type="submit"
                  data-ng-click="addQuantity(product)"
                  class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Add</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
