<div>
  <h2>My Cart</h2>

  <br>
  <div class="cartContainer">
    <div data-ng-repeat="limit in [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]">
      <ul class="nav nav-pills nav-justified products">
        <li data-ng-repeat="productContainer in products | limitTo:3:limit">
          <div class="productContainer">
            <h4>
              <a href="#/product/{{product._id}}">
                <span style="font-size: 130%;">{{productContainer.product.name}}</span>
              </a>
              <span class="price"
                    data-ng-if="productContainer.product.pomotion == null || (productContainer.product.promotion.percent == 0 && productContainer.product.promotion.reduction == 0)">{{productContainer.product.price | currency}}
              </span>
              <span class="price"
                    data-ng-if="productContainer.product.pomotion && (productContainer.product.promotion.percent != 0 || productContainer.product.promotion.reduction != 0)">
                <del>{{productContainer.product.price | currency}}</del>
                <ins>{{productContainer.product.price - productContainer.product.promotion.reduction
                  - productContainer.product.price * productContainer.product.promotion.percent /
                  100 | currency}}
                </ins>
                <br/>
                <span data-ng-if="productContainer.product.promotion.reduction != 0">-{{productContainer.product.promotion.reduction | currency}}</span>
                <span data-ng-if="productContainer.product.promotion.percent != 0">-{{productContainer.product.promotion.percent}}%</span>
              </span>
            </h4>

            <img class="img-responsive" src="{{productContainer.product.image}}"/>
            <hr/>

            <div class="description">{{productContainer.product.description}}</div>

            <hr/>

            <div class="row">
              <div class="col-md-4">
                <label for="field_quantity"></label>
                <input class="form-control" type="number" name="quantity" min="1"
                       step="1"
                       id="field_quantity"
                       data-ng-model="productContainer.quantity"
                       data-ng-change="changeQuantity(productContainer.product, productContainer.quantity)">
              </div>
              <div class="col-md-3">
                <button data-ng-click="removeProduct(productContainer.product)"
                        class="btn btn-danger btn-sm">
                  <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                  <span>Delete</span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <hr/>
    <div class="total">
      <h3>
        <span class="pull-right">Total : {{getTotal()}} $</span>
      </h3>
    </div>
    <br>
    <br>

    <div class="modal-footer">
      <button class="btn btn-default pull-left" data-ng-disabled="products.length == 0" data-ng-click="clearAll()">
        <span class="glyphicon glyphicon-ban-circle"></span> <span>Clear&nbsp;</span>
      </button>
      <div class="buyCart">
          <button class="btn btn-primary" data-ng-disabled="products.length == 0" data-ng-click="proceedOrder()">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> <span>Proceed to Order&nbsp;</span>
          </button>
      </div>
    </div>
  </div>
</div>
