<div>
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-5">
      <div class="drop" data-ng-class="dropClass" style="display: inline-block;">
        <div class="col-md-5" style="padding-left: 0">
          <img class="img-responsive" src="{{change.image}}"/>
        </div>
        <div class="col-md-7">
          <div class="row">
            <span class="btn btn-default">Upload Image
                <input style="visibility: hidden; position: absolute;" max="1" type="file">
              </span>
            <b style="padding-left:5px">OR</b>
          </div>

          <div class="row">
            <label class="control-label" for="field_url">Url:</label>
            <input type="text" class="form-control" name="url" id="field_url"
                   data-ng-model="change.image"
                   placeholder="enter url image"
                   required/>
          </div>
        </div>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-7 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. place to show important messages to the user.
      </div>
      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_name">Full name:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.name" type="text" id="field_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_email">Email:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.email" type="text" id="field_email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_password">Password:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.password" type="password" id="field_password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_password2">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.passwordVerif" type="password" id="field_password2">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" data-ng-click="saveChanges()" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" data-ng-click="cancelChanges()" value="Cancel" type="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
