<div>
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <h6>Upload a different photo..</h6>

        <input data-ng-model="image" type="file">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. place to show important messages to the user.
      </div>
      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_name">Full name</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.name" type="text" id="field_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_email">Email</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.email" type="text" id="field_email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_password">Password</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.password" type="password" id="field_password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="field_password2">Confirm password</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="change.passwordVerif" type="password" id="field_password2">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary btn-edit" data-ng-click="saveChanges()" value="Save Changes" type="button" />
            <span></span>
            <input class="btn btn-default" data-ng-click="cancelChanges()" value="Cancel" type="button" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
