<form name="editForm" role="form" novalidate data-ng-submit="save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            data-ng-click="clear()">&times;</button>
    <h2 class="modal-title" id="myProductLabel">Create a new Product</h2>
  </div>
  <div class="modal-body">
    <div class="well well-sm">

      <div class="row">
        <div class="col-md-5" data-ng-class="{ 'has-error' : editForm.title.$invalid && !editForm.title.$pristine }">
          <div class="form-group">
            <label class="control-label" for="field_title">Title</label><i style="color: red">*</i>
            <input type="text" class="form-control" name="title" id="field_title"
                   data-ng-model="product.title"
                   placeholder="ex. Summer party"
                   required/>
            <p data-ng-show="editForm.title.$invalid && !editForm.title.$pristine" class="help-block">A title is
              needed.</p>
          </div>
        </div>
      </div>
    </div>

    <h2>description</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group"
             data-ng-class="{ 'has-error' : editForm.description.$invalid && !editForm.description.$pristine }">
          <label class="control-label" for="field_description">description</label><i style="color: red">*</i>
          <textarea class="form-control" name="description" id="field_description" style="height: 150px; resize: vertical"
                    data-ng-model="product.description"
                    placeholder="description..."
                    required
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" novalidate data-ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Create</span>
    </button>
  </div>
</form>
