<h3>{{product.title}} {{product.date}}</h3><br>
<p>{{product.content}}</p>


<div class="container">
  <div class="row">
    <!-- Contenedor Principal -->
    <div class="comments-container">
      <h2>Comments</h2>

      <ul id="comments-list" class="comments-list">
        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar"><img
              src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                <span>hace 20 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae,
                praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </div>
          <!-- Respuestas de los comentarios -->
          <ul class="comments-list reply-list">
            <li>
              <!-- Avatar -->
              <div class="comment-avatar"><img
                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                  <span>hace 10 minutos</span>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
                </div>
                <div class="comment-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae,
                  praesentium optio, sapiente distinctio illo?
                </div>
              </div>
            </li>

            <li>
              <!-- Avatar -->
              <div class="comment-avatar"><img
                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                  <span>hace 10 minutos</span>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
                </div>
                <div class="comment-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae,
                  praesentium optio, sapiente distinctio illo?
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar"><img
              src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                <span>hace 10 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae,
                praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="col-md-12">
        <div class="row">
          <div data-ng-show="!isReplyingToProduct">
            <button type="button" class="btn btn btn-info pull-right"
                    data-ng-click="isReplyingToProduct = true">Reply
            </button>
          </div>

        </div>
        <div class="row" data-ng-if="isReplyingToProduct">
          <div class="pull-right" style="width:70%">
            <div style="position:relative;">
            <textarea class="form-control" name="content" id="field_content"
                      style="resize: vertical; margin-top: 10px; margin-bottom: 5px;"
                      data-ng-model="comment.content"
                      placeholder="content..."
                      required></textarea>
              <i class="fa fa-remove" style="position:absolute;top:10px;right:10px;color:#33333380" data-ng-click="closeReply()"></i>
            </div>

            <button type="button" class="btn btn btn-success pull-right"
                    data-ng-click="sendReply()">Send message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
