<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">{{product.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
        <img
          src="{{product.image}}"
          alt="{{product.name}}" class="img-responsive"/>
      </div>
      <div class="col-md-8">
        <div class="product-price">
          <h4>
          <span data-ng-if="!product.promotion || (product.promotion.percent == 0 && product.promotion.brut == 0)">{{product.price | currency}}</span>
          <span data-ng-if="product.promotion && (product.promotion.percent != 0 || product.promotion.brut != 0)">
              <del>{{product.price | currency}}</del>
              <ins>{{product.price - product.promotion.brut - product.price * product.promotion.percent / 100 | currency}}</ins>
              <span data-ng-if="product.promotion.brut != 0">-{{product.promotion.brut | currency}}</span>
              <span data-ng-if="product.promotion.percent != 0">-{{product.promotion.percent}}%</span>
            </span>
          </h4>
        </div>
        <hr/>

        <div class="col-md-4 hidden-xs hidden-sm">
          <a href="#/marketPlace/{{product.marketPlace}}" title="{{product.marketPlace.name}}">
            <img src="{{product.marketPlace.image}}" alt="{{product.marketPlace.name}}"
                 class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-xs-8">
              <span>Sold on : </span><a
              href="#/marketPlace/{{product.marketPlace}}"
              title="{{product.marketPlace.name}}">{{product.marketPlace.name}}</a>
            </div>
            <div class="col-xs-4 text-right">
              <div class="rating pull-right">
												<span class="stars hidden" title="{{product.marketPlace.rating}}">
													{{product.marketPlace.rating}}
												</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <span>Sold by : </span>
              <span>{{product.marketPlace.owner.name}}</span>
            </div>
            <div class="col-xs-4 text-right">
              <a href="mailto:{{product.marketPlace.owner.email}}" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-envelope"></span>
                <span >Contact me</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <span>{{product.description}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <!--<p class="lead">
        <span translate="jwebApp.marketPlace.action.rating">Rating :</span>
        <small>
          <select name="myrating" id="myrating" data-ng-change="updateRating()" data-ng-model="myrating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </small>
      </p>-->
      <div class="rating">
        <span class="stars hidden" title="4">4</span>
      </div>
      </div>

      <p class="lead">
        <span>Stock :</span>
        <br/>
        {{product.stock}}
      </p>

      <form>
        <div class="form-group">
          <label for="quantity">Quantity :</label>
          <input class="form-control" type="number" min="1" max="{{product.stock}}" step="1" value="1"
                 name="quantity"
                 data-ng-model="quantity"
                 id="quantity"/>
        </div>
        <div class="form-group">
          <div class="addToCart">
            <button class="btn btn-primary" data-ng-click="addToCart(product, quantity)">
              <span class="glyphicon glyphicon-plus-sign"></span> Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    $.fn.stars = function () {
      return $(this).each(function () {
        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
      });
    };

    $(function () {
      window.setTimeout(function () {
        $('span.stars').stars().removeClass('hidden');
      }, 500);
    });
  </script>

</div>
