#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

.btn-invisible{
  background: none;
  border: none;
  color:black
}

.btn-invisible:hover {
  color: #fff;
  background-color:#59b5fa;
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

.register form {
  margin: 0px 10px;
}

.register h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.register .container {
  max-width: 420px; !important;
}

.register .divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.register .divider hr {
  margin: 7px 0px;
  width: 35%;
}

.register .left { float: left; }

.register .right { float: right; }
